# External libraries required for the bioreactor project

python.dotenv

# Communication and GPIO control
RPi.GPIO
pyserial

# Cryptography for encryption and decryption of sensitive data
cryptography

# HTTP requests for Telegram API
requests

# CircuitPython libraries for sensors and microcontroller support
adafruit-circuitpython-scd30
adafruit-circuitpython-bmp280
adafruit-circuitpython-ds3231
adafruit-circuitpython-sdcard